image: Visual Studio 2022

shallow_clone: true

platform:
  - x64

configuration:
  - Release

matrix:
  fast_finish: false

only_commits:
  files:
    - /engine/src/
    - /engine/vc17/
    - .appveyor.yml
    - /engine/cmake/

install:
  - cmd : vcpkg install boost-iostreams:x64-windows
  - cmd : vcpkg install boost-asio:x64-windows
  - cmd : vcpkg install boost-system:x64-windows
  - cmd : vcpkg install boost-variant:x64-windows
  - cmd : vcpkg install boost-lockfree:x64-windows
  - cmd : vcpkg install cryptopp:x64-windows
  - cmd : vcpkg install luajit:x64-windows
  - cmd : vcpkg install libmariadb:x64-windows
  - cmd : vcpkg install pugixml:x64-windows
  - cmd : vcpkg install mpir:x64-windows
  - cmd : vcpkg install spdlog:x64-windows
  
build:
  parallel: true
  # MSBuild verbosity level
  #verbosity: detailed

after_build:
  - 7z a -tzip Otg.zip -r .\engine\vc17\*.exe -ir!.\engine\vc17\*.dll

cache:
  - c:\tools\vcpkg\installed\

artifacts:
  - path: \engine\vc17\**\theforgottenserver*.exe
  - path: \engine\vc17\**\*.dll
  - path: Otg.zip
